<a href="https://colab.research.google.com/github/Jeong-2/jeong-2.github.io/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install SpeechRecognition

Collecting SpeechRecognition
  Downloading https://files.pythonhosted.org/packages/26/e1/7f5678cd94ec1234269d23756dbdaa4c8cfaed973412f88ae8adf7893a50/SpeechRecognition-3.8.1-py2.py3-none-any.whl (32.8MB)
     |████████████████████████████████| 32.8MB 124kB/s
Installing collected packages: SpeechRecognition
Successfully installed SpeechRecognition-3.8.1

# 확인

In [3]:
import pandas as pd
import IPython
import librosa
import numpy as np
import wave
import matplotlib.pyplot as plt
import speech_recognition as srn
import numpy as np
import pandas as pd

# 시각화를 위한 모듈
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn-whitegrid')
# import missingno

# 너무 많이 발생하는 경고들을 제거
import sys
import warnings
warnings.filterwarnings('ignore')

In [10]:
# 전사 텍스트
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_text = []
for i in k:
    index = i.index('PCM')
    string = i[index+4 : -1]
    child_text.append(string)

In [12]:
# citycode
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_city = []
for i in k:
    index = i.index('00')
    string = i[98 : 101 ]
    child_city.append(string)

In [13]:
# A_001 - setnum2
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_setnum2 = []
for i in k:
    index = i.index('00')
    string = i[81 : 86]
    child_setnum2.append(string)

In [14]:
# 소아남녀_001 - setnum
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_setnum = []
for i in k:
    index = i.index('00')
    string = i[72: 80]
    child_setnum.append(string)

In [15]:
# gender
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_gender = []
for i in k:
    index = i.index('00')
    string = i[87 : 88]
    child_gender.append(string)

In [16]:
# age
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_age = []
for i in k:
    index = i.index('00')
    string = i[95 : 97]
    child_age.append(string)

In [17]:
# nameid
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_Nameid = []
for i in k:
    index = i.index('00')
    string = i[89 : 94]
    child_Nameid.append(string)

In [18]:
# 스크립트 번호
o = open("2020_소아남녀_학습DB_PCM2TEXT.list", 'r',encoding='cp949') 
k = o.readlines()
child_script = []
for i in k:
    index = i.index('PCM')
    string = i[106 : index-1]
    child_script.append(string)

In [19]:
# 소아남녀 information dictionary
child_dict = {}
child_dict['Nameid'] = child_Nameid # 추출한 리스트
child_dict['age'] = child_age
child_dict['city'] = child_city
child_dict['gender'] = child_gender
child_dict['setnum'] = child_setnum
child_dict['setnum2'] = child_setnum2
child_dict['scriptnum'] = child_script
child_dict['text'] = child_text

# 성인남여 information DataFrame
df_child = pd.DataFrame(child_dict)
df_child

       Nameid age city  ... setnum2 scriptnum                      text
0       KJH00  10  수도권  ...   A_001     00001              우리 이모는 미국 살아
1       KJH00  10  수도권  ...   A_001     00002            우리 삼촌은 베트남에 있어
2       KJH00  10  수도권  ...   A_001     00003     내 동생은 맨날 귀찮게 졸졸 쫓아 다녀
3       KJH00  10  수도권  ...   A_001     00004     맨날 내 말 따라하고 공부하는데 방해해
4       KJH00  10  수도권  ...   A_001     00005              시끄럽게 떠들고 얄미워
...       ...  ..  ...  ...     ...       ...                       ...
110529  HJW00  10  수도권  ...   E_200     19996         나는 당연히 두산 선택해서 했지
110530  HJW00  10  수도권  ...   E_200     19997             내 기록도 남길 수 있어
110531  HJW00  10  수도권  ...   E_200     19998              야구는 미국이 잘하잖아
110532  HJW00  10  수도권  ...   E_200     19999            미국 가서 야구 보고 싶다
110533  HJW00  10  수도권  ...   E_200     20000  나도 우리 나중에 같이 미국 가서 야구 보자

[110534 rows x 8 columns]

In [20]:
temp = df_child.copy()

In [21]:
temp.groupby('scriptnum')['text'].count()

scriptnum
00001    2
00002    2
00003    2
00004    2
00005    2
        ..
19996    7
19997    7
19998    7
19999    7
20000    7
Name: text, Length: 21231, dtype: int64

# 새 섹션

In [211]:
temp[temp['scriptnum']=='00222'][['Nameid','city','text']]

    Nameid city                 text
221  KJH00  수도권  아빠가 제가 응원하는 팀은 엘지에요

# sound

In [100]:
temp.loc[temp['scriptnum']=='4536', 'text'] = '우리 이모는 미국에 살아'
temp.loc[temp['scriptnum']=='4555', 'text'] = '우리 내일 숙제 뭐야'
temp.loc[temp['scriptnum']=='4564	', 'text'] = '나는 오늘 영어학원에 가는 날이야'
temp.loc[temp['scriptnum']=='4572	', 'text'] = '오늘 반찬은 별로 맛없어'
temp.loc[temp['scriptnum']=='4577	', 'text'] = '오늘 수박 나왔데 나 수박 좋아해'
temp.iloc[45]['text'] = '너 방과(SN:후) 수업 뭐 들어'
temp.iloc[4594]['text'] = '(SN:아 힘들어)이거 생일 선물 받은 거야'
temp.iloc[4599]['text'] = '(SN:숨소리)나 어제 유튜브로 게임하는 거 봤어'
temp.iloc[4600]['text'] = '(SN:겁나많다)나는 유튜브 못 봐 엄마가 금지했어'
temp.iloc[4608]['text'] = '(NO:**)(SN:숨소리)나 숙제해야 해 방해하지 마(NO:이 속도로)'
temp.iloc[100]['text'] = '이번엔 한 번 (SP:쉬어야) 하네'
temp.iloc[101]['text'] = '(SP:카등) 한 장 뒤집는다'
temp.iloc[204]['text'] = '혼자서 탈 때는 자꾸 넘어졌는데 선생님 (SP:선명을) 듣고 난 뒤에는 훨씬 쉽게 탈 수 있었어요'
temp.iloc[207]['text'] = '엄마가 야채와 고기를 골고루 (SP:자)잘 먹어야 건강하다고 하는데 전 야채가 싫어요'

KeyError: ignored